
<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<%- include('includes/navigation.ejs') %>

<main>
  <form action="/admin/add-product" method="POST">
    <input type="text" name="title" placeholder="Enter product name.." />
    <input type="submit" value="Submit">
  </form>
</main>

<%- include('includes/end.ejs') %>
