<%- include('includes/head.ejs') %>

    <link rel="stylesheet" href="/css/product.css">
  </head>

<%- include('includes/navigation.ejs') %>

    <main>
      <% if (prods.length > 0) { %>
      <ul class="product-container">
        <% for (let product of prods) { %>
        <li class="product-item">
          <h2><%= product.title %></h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, est?
          </p>
          <button>Add to Cart</button>
        </li>
        <% } %>
      </ul>
      <% } else { %>
        <h1>No Products to Show</h1>
      <% } %>
    </main>

<%- include('includes/end.ejs') %>
