.cart-container {
  margin: 0;
  list-style: none;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
}

.cart-container > .cart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 0.5rem;
}

.cart-item > .cart-edit {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.cart-item > img {
  width: 200px;
}

.cart-item > h2 {
  text-transform: capitalize;
}

.price-section {
  align-self: flex-end;
  margin-right: 3rem;
}

.price-section > .items-count {
  display: flex;
  flex-direction: column;
}